body {
  margin: 0px;
  padding: 0px;
  font-family: "Trebuchet MS", sans-serif;
  font-size: 13px;
  background-color: #003244;
  background-attachment: scroll;
  background-image: url('../graphics/common/loginbackground.jpg');
  background-position: center top;
  background-repeat: no-repeat;
  color: #333333;
}
.window {
  -webkit-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.7);
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.7);
  background-color: #ffffff;
}
.loginwindow {
  background-color: #005777;
  color: #008fc4;
}
.normalwindow {
  background-color: #ffffff;
}
.loginwindowheader {
  background-color: #eeeeee;
  font-family: 'Trebuchet MS';
  font-size: 24px;
  font-weight: 300;
  color: #00568c;
  height: 50px;
  line-height: 50px;
  padding-left: 10px;
}
