@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_panel_layout.cshtml";
}

@section mainappjsfile{

    <link href="~/Scripts/plupload/jquery.plupload.queue/css/jquery.plupload.queue.css" rel="stylesheet" />
    <link href="~/Areas/filemanager/Content/css/filemanager.css" rel="stylesheet" />
    <script src="~/Areas/panel/app/modules/mainApp.js"></script>
    <script src="~/Areas/filemanager/app/directives/formsdirectives.js"></script>
}

@section bodyngcontroller{
    ng-controller="fileManagerController"
}

<nav role="navigation" class="navbar navbar-inverse">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
        <button data-target="#bs-example-navbar-collapse-2" data-toggle="collapse" class="navbar-toggle" type="button">
            <span class="sr-only">[tr]Toggle navigation[/tr]</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a href="#" class="navbar-brand">[tr]File Manager[/tr]</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div id="bs-example-navbar-collapse-2" class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
            <li>
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    <i class="entypo-doc"></i>
                    [tr]Files[/tr]
                    <b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                    <li>
                        <a href="#" ng-click="openUploadContainer()"><i class="entypo-upload"></i>[tr]Upload Files[/tr]</a>
                    </li>
                    <li>
                        <a href="#" ng-click="downloadSelectedFiles()"><i class="entypo-archive"></i>[tr]Compress Selected Items[/tr]</a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a href="#" data-toggle="modal" data-target="#newdirectorydialog" ng-click="initNewDirectoryDialog()"><i class="entypo-folder"></i>[tr]Create Directory[/tr]</a>
                    </li>
                    <li>
                        <a href="#" ng-click="deleteSelectedItems()"><i class="entypo-trash"></i>[tr]Delete Selected Items[/tr]</a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    <i class="entypo-share"></i>
                        [tr]Shared Resources[/tr]
                        <b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                    <li>
                        <a href="#" ng-click="changeSection('shared')"><i class="entypo-doc"></i>[tr]View Shared Resources[/tr]</a>
                    </li>
                    <li>
                        <a href="#" ng-click="InitShareOptionsDialog()"><i class="entypo-share"></i>[tr]Share Options[/tr]</a>
                    </li>

                </ul>
            </li>
            <li>
                <a href="#" ng-click="ToggleSelection()"><i class="entypo-check"></i>[tr]Select/Unselect All[/tr]</a>
            </li>
        </ul>

        <ul class="nav navbar-nav navbar-right">
            <li class="navbar-form">
                <div data-toggle="buttons" class="btn-group">
                    <label class="btn btn-white" ng-click="changeMode('listMode')" ng-class="{'active':viewModeSelected=='listMode'}">
                        <input type="radio" ng-checked="viewModeSelected=='listMode'" id="listmodeRadioButton" name="viewMode"><i class="glyphicon glyphicon-list"></i>
                    </label>
                    <label class="btn btn-white" ng-click="changeMode('iconMode')" ng-class="{'active':viewModeSelected=='iconMode'}">
                        <input type="radio" ng-checked="viewModeSelected=='iconMode'" id="iconviewRadioButton" name="viewMode"><i class="glyphicon glyphicon-th"></i>
                    </label>

                </div>
            </li>
            <li>
                <form role="search" class="navbar-form">
                    <div class="form-group">
                        <input type="text" placeholder="Search" class="form-control" ng-model="searchPhrase">
                    </div>
                </form>
            </li>

        </ul>
    </div>
    <!-- /.navbar-collapse -->
</nav>

<!--files section-->
<section id="filesSection" ng-if="sectionSelected=='files'">

    <!--compressed files-->
    <div class="row" ng-if="compressingFiles.length>0">
        <div class="col-md-12">

            <div data-collapsed="0" class="panel panel-default panel-shadow">
                <!-- to apply shadow add class "panel-shadow" -->
                <!-- panel head -->
                <div class="panel-heading">
                    <div class="panel-title">[tr]Compressed Files[/tr]</div>

                    <div class="panel-options">
                        <a data-rel="collapse" href="#"><i class="entypo-down-open"></i></a>
                    </div>
                </div>

                <!-- panel body -->
                <div class="panel-body">
                    <div ng-repeat="fileEntry in compressingFiles">
                        <div class="row">
                            <div class="col-md-9">
                                <edit-in-place value="fileEntry.DisplayName" on-change="RenameCompressedFile(fileEntry)"></edit-in-place>
                            </div>
                            <div class="col-md-3" style="text-align:right;">
                                [tr]Size[/tr]: {{fileEntry.Size | bytes}}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="progress progress-bar-default">
                                    <div style="width: 43%" ng-style="{'width':fileEntry.Progress+'%'}" role="progressbar" class="progress-bar">
                                        <span class="sr-only">{{fileEntry.Progress}}% Complete</span>
                                    </div>
                                </div>

                            </div>

                        </div>
                        <a class="btn btn-green btn-icon" ng-if="fileEntry.Progress==100" ng-href="/filemanager/file/zip/{{fileEntry.Name}}">
                            [tr]Download[/tr]
                            <i class="entypo-download"></i>
                        </a>
                        <a class="btn btn-red btn-icon" ng-if="fileEntry.Progress==100" ng-click="DeleteCompressedFile(fileEntry.Name)">
                            [tr]Delete[/tr]
                            <i class="entypo-cancel"></i>
                        </a>
                        <a class="btn btn-gold btn-icon" ng-if="fileEntry.Progress<100" ng-click="CancelCompress(fileEntry.Name)">
                            [tr]Cancel[/tr]
                            <i class="entypo-cancel-circled"></i>
                        </a>
                        <hr />
                    </div>
                </div>

            </div>

        </div>
    </div>

    <!--uploader-->
    <div class="row">
        <div class="col-md-12">

            <div id="uploadContainer" data-collapsed="0" class="panel panel-invert panel-collapse">

                <!-- panel head -->
                <div class="panel-heading">
                    <div class="panel-title">[tr]Upload Files[/tr]</div>

                    <div class="panel-options">
                        <a data-rel="collapse" href="#"><i class="entypo-down-open"></i></a>
                    </div>
                </div>

                <!-- panel body -->
                <div class="panel-body" style="display: none;">

                    <pl-upload-component file-upload-url="uploader.fileUploadUrl" max-file-size="uploader.maxUpoadUrl" chunk-size="uploader.chunkSize" flash-swf-url="uploader.flashSwfUrl" silverlight-xap-url="uploader.silverlightXapUrl" on-file-uploaded="fileUploaded(file)" on-upload-completed="fileUploadCompleted(files)"></pl-upload-component>

                </div>

            </div>

        </div>
    </div>

    <!--breadcrumbs-->
    <ol class="breadcrumb">
        <li>
            <a href="#" ng-click="upDirectory()">
                <i class="entypo-back"></i>
            </a>
        </li>
        <li>
            <a href="#" ng-click="changeDirectory(0)">
                <i class="entypo-folder"></i>
            </a>
        </li>
        <li ng-repeat="breadCrumb in breadCrumbs()">
            <a href="#" ng-click="changeDirectory($index+1)" ng-if="!$last">
                <i ng-class="{'active':$last}"></i>
                {{breadCrumb}}
            </a>
            <span ng-if="$last">{{breadCrumb}}</span>
        </li>
        <div style="float:right;">[tr]Total files[/tr]: {{directorySummary.TotalNumFiles}},  [tr]Total Size[/tr]: {{directorySummary.TotalSize | bytes}}</div>
    </ol>

    <!--filelist icon view-->
    <div id="filesListIconMode" class="gallery-env" ng-if="viewModeSelected=='iconMode' && viewMode=='list'">
        <div class="row">
            <div class="col-sm-2" ng-repeat="entry in filteredDirectoryData" ng-mouseenter="hover(entry)" ng-mouseleave="hover(entry)">
                <article class="album">
                    <header>
                        <a ng-click="itemClicked(entry)" style="cursor:pointer;" ng-if="entry.IsDirectory">
                            <img ng-src="/filemanager/file/Thumbnail/400{{directory}}/{{entry.Name}}" />
                        </a>
                        <a style="cursor:pointer;" ng-if="!entry.IsDirectory" ng-click="SwitchToDetailsView($index)">
                            <img id="iconFilePreview{{$index}}" ng-src="/filemanager/file/Thumbnail/400{{directory}}/{{entry.Name}}" />
                        </a>
                        <div ng-if="entry.IsShared" style="position:absolute;top:3px;left:3px; border-radius: 50%; background:#ffffff; box-shadow: 0 0 0 2px #f5f5f6;" class="entypo-share"></div>
                        <a class="album-options" href="#" ng-if="!entry.IsDirectory" ng-href="/filemanager/file/get/{{entry.FullName}}">
                            <i class="entypo-download"></i>
                            [tr]Download[/tr]
                        </a>
                    </header>

                    <section class="album-info" style="height:30px; overflow:hidden;">
                        {{entry.Name}}
                    </section>
                    <footer>
                        <div class="album-images-count" style="height:30px; overflow:hidden;">
                            {{entry.Size | bytes}}
                        </div>

                        <div class="album-options">
                            <input type="checkbox" id="chk-1" ng-model="entry.Checked">
                        </div>
                    </footer>
                </article>
            </div>
        </div>
    </div>

    <!--filelist listview-->
    <form name="fileslist">
        <div class="dataTables_wrapper form-inline" role="grid" ng-if="viewModeSelected=='listMode' && viewMode=='list'">
            <table class="table table-bordered datatable dataTable">
                <thead>
                    <tr role="row">
                        <td role="columnheader" style="width:31px;" class="sorting_disabled"></td>
                        <td role="columnheader" style="width:30px;" class="sorting"></td>
                        <td ng-click="changeSortOrder('Name')" role="columnheader" ng-class="{'sorting_asc':sortField=='Name'&&!sortIsDescending,'sorting_desc':sortField=='Name'&&sortIsDescending}">
                            [tr]Name[/tr]
                        </td>
                        <td ng-click="changeSortOrder('Size')" role="columnheader" style="width:100px;" ng-class="{'sorting_asc':sortField=='Size'&&!sortIsDescending,'sorting_desc':sortField=='Size'&&sortIsDescending}">
                            [tr]Size[/tr]
                        </td>
                    </tr>
                </thead>
                <tbody role="alert">
                    <tr ng-class-odd="'odd'" ng-class-even="'even'" ng-class="{'highlight':entry.Checked}" ng-repeat="entry in filteredDirectoryData" style="cursor:pointer;">
                        <td>
                            <input type="checkbox" id="chk-1" ng-model="entry.Checked">
                        </td>
                        <td ng-click="itemClicked(entry)" ng-if="entry.IsDirectory">
                            <div style="position:relative;">
                                <img ng-src="/filemanager/file/Thumbnail/30{{directory}}/{{entry.Name}}" style="width:30px; height:30px;" />
                                <div ng-if="entry.IsShared" style="position:absolute;top:-5px;left:-5px; border-radius: 50%; background:#ffffff; box-shadow: 0 0 0 2px #f5f5f6;" class="entypo-share"></div>
                            </div>
                        </td>
                        <td ng-if="entry.IsDirectory" ng-mouseenter="hover(entry,true)" ng-mouseleave="hover(entry,false)">
                            <div style="display:inline-block; height:29px; line-height:29px;" ng-if="!entry.isInRenameMode" ng-click="itemClicked(entry)">{{entry.Name}}</div>
                            <div style="display:inline-block; height:29px; line-height:29px;" ng-if="entry.isInRenameMode"><input type="text" ng-model="entry.NewName"></div>
                            <div style="float:right">
                                <a class="btn btn-green btn-icon" ng-if="entry.isMouseOver && entry.isInRenameMode" ng-click="RenameFile(entry)">
                                    [tr]Rename[/tr]
                                    <i class="entypo-check"></i>
                                </a>
                                <a class="btn btn-red btn-icon" ng-if="entry.isMouseOver && entry.isInRenameMode" ng-click="CancelRename(entry)">
                                    [tr]Cancel[/tr]
                                    <i class="entypo-cancel"></i>
                                </a>
                                <a class="btn btn-gold btn-icon" ng-if="entry.isMouseOver && !entry.isInRenameMode" ng-click="SwitchToRenameMode(entry)">
                                    [tr]Rename[/tr]
                                    <i class="entypo-pencil"></i>
                                </a>
                            </div>
                        </td>
                        <td ng-if="!entry.IsDirectory" ng-mouseenter="hover(entry,true)" ng-mouseleave="hover(entry,false)">
                            <div style="position:relative;">
                                <a ng-click="SwitchToDetailsView($index)">
                                    <img id="listFilePreview{{$index}}" ng-src="/filemanager/file/Thumbnail/30{{directory}}/{{entry.Name}}" style="width:30px; height:30px; border:0px none transparent;" />
                                </a>
                                <div ng-if="entry.IsShared" style="position:absolute;top:-5px;left:-5px; border-radius: 50%; background:#ffffff; box-shadow: 0 0 0 2px #f5f5f6;" class="entypo-share"></div>
                            </div>
                        </td>
                        <td ng-if="!entry.IsDirectory" ng-mouseenter="hover(entry,true)" ng-mouseleave="hover(entry,false)">
                            <div style="display:inline-block; height:29px; line-height:29px;" ng-if="!entry.isInRenameMode"><a ng-click="SwitchToDetailsView($index)">{{entry.Name}}</a></div>
                            <div style="display:inline-block; height:29px; line-height:29px;" ng-if="entry.isInRenameMode"><input type="text" ng-model="entry.NewName"></div>
                            <div style="float:right">
                                <a class="btn btn-green btn-icon" ng-if="entry.isMouseOver && entry.isInRenameMode" ng-click="RenameFile(entry)">
                                    [tr]Rename[/tr]
                                    <i class="entypo-check"></i>
                                </a>
                                <a class="btn btn-red btn-icon" ng-if="entry.isMouseOver && entry.isInRenameMode" ng-click="CancelRename(entry)">
                                    [tr]Cancel[/tr]
                                    <i class="entypo-cancel"></i>
                                </a>
                                <a class="btn btn-gold btn-icon" ng-if="entry.isMouseOver && !entry.isInRenameMode" ng-click="SwitchToRenameMode(entry)">
                                    [tr]Rename[/tr]
                                    <i class="entypo-pencil"></i>
                                </a>
                                <a class="btn btn-green btn-icon" ng-if="entry.isMouseOver" ng-href="/filemanager/file/get/{{entry.FullName}}">
                                    [tr]Download[/tr]
                                    <i class="entypo-download"></i>
                                </a>
                            </div>
                        </td>
                        <td class="">{{entry.Size | bytes}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </form>

    <!--Details view-->
    <form name="detailsform">
        <div class="row" id="detailsViewContainer" ng-if="viewMode=='details'" ng-class="{'details-view-fixed':detailsView.isDetailsViewExpanded}">
            <div class="col-sm-12" id="detailsViewMenu">
                <nav role="navigation" class="navbar navbar-default">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header">
                        <button data-target="#bs-example-navbar-collapse-1" data-toggle="collapse" class="navbar-toggle" type="button">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand">{{SelectedFileIndex+1}} [tr]of[/tr] {{filteredDirectoryData.length}}</a>
                    </div>

                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div id="bs-example-navbar-collapse-1" class="collapse navbar-collapse">
                        <ul class="nav navbar-nav">
                            <li ng-if="SelectedFileIndex>0">
                                <a href="#" ng-click="MovePreviousItemIndex()"><i class="entypo-left-open-big"></i>[tr]Previous[/tr]</a>
                            </li>
                        </ul>

                        <ul class="nav navbar-nav navbar-right">
                            <li class="dropdown">
                                <a data-toggle="dropdown" class="dropdown-toggle" href="#">[tr]Actions[/tr]<b class="caret"></b></a>
                                <ul class="dropdown-menu">
                                    <li>
                                        <a href="#" ng-click="RotateFlipPreview('Rotate270NoFlip')"><i class="fa fa-rotate-left" style="margin-right:5px;"></i>[tr]Rotate Left[/tr]</a>
                                    </li>
                                    <li>
                                        <a href="#" ng-click="RotateFlipPreview('Rotate90NoFlip')"><i class="fa fa-rotate-right" style="margin-right:5px;"></i>[tr]Rotate Right[/tr]</a>
                                    </li>
                                    <li ng-if="!filteredDirectoryData[SelectedFileIndex].IsDirectory">
                                        <a ng-href="/filemanager/file/get/{{filteredDirectoryData[SelectedFileIndex].FullName}}"><i class="entypo-download" style="margin-right:5px;"></i>[tr]Download[/tr]</a>
                                    </li>
                                </ul>
                            </li>

                            <li ng-if="SelectedFileIndex<filteredDirectoryData.length-1">
                                <a href="#" ng-click="MoveNextItemIndex()"><i class="entypo-right-open-big"></i>[tr]Next[/tr]</a>
                            </li>
                            <li>
                                <a href="#" ng-click="toggleDetailsViewExpandedMode()">
                                    <span ng-if="!detailsView.isDetailsViewExpanded"><i class="fa fa-expand" style="margin-right:5px;"></i>[tr]Expand[/tr]</span>
                                    <span ng-if="detailsView.isDetailsViewExpanded"><i class="fa fa-compress" style="margin-right:5px;"></i>[tr]Shrink[/tr]</span>
                                </a>
                            </li>
                            <li>
                                <a href="#" ng-click="SwitchToListView()"><i class="entypo-cancel"></i>[tr]Close[/tr]</a>
                            </li>
                        </ul>
                    </div>
                    <!-- /.navbar-collapse -->
                </nav>
            </div>
            <div class="col-sm-12" style="text-align:center;">
                <h2 id="detailsViewFileName"><small>{{filteredDirectoryData[SelectedFileIndex].Name}}</small></h2>
                <div class="details-view-image-container">
                    <img src="~/Content/panel/images/loader-1.gif" class="fade" id="imageloader" style="margin: auto; position: absolute; left: 50%; top: 50%;" />
                    <img ng-if="!detailsView.isDetailsViewExpanded" id="detailsImagePreview" img-preload img-loader="imageloader" style="margin:auto; max-width:100%;" class="fade" ng-src="/filemanager/file/preview/1000{{directory}}/{{filteredDirectoryData[SelectedFileIndex].Name}}" />
                    <img ng-if="detailsView.isDetailsViewExpanded" id="detailsImagePreviewExpanded" img-preload img-loader="imageloader" style="margin:auto; max-width:100%;" class="fade" ng-src="/filemanager/file/previewcustomsize/{{detailsView.imageContainerWidth}}/{{detailsView.imageContainerHeight}}{{directory}}/{{filteredDirectoryData[SelectedFileIndex].Name}}" />
                </div>
                <h3 id="detailsViewFileDescription"><small>[tr]Size[/tr]: {{filteredDirectoryData[SelectedFileIndex].Size | bytes}}, [tr]Modified[/tr]: {{filteredDirectoryData[SelectedFileIndex].FileSystemObject.LastWriteTime | date:'medium'}}</small></h3>
            </div>
        </div>
    </form>

</section>

<!--shared resources section-->
<section id="sharedResourcesSection" ng-if="sectionSelected=='shared'">
    <!--shared resources-->
    <div class="row">
        <div class="col-md-12">
            <button class="btn btn-default btn-icon icon-left" type="button" ng-click="changeSection('files')">
                [tr]Back to Files[/tr]
                <i class="entypo-back"></i>
            </button>
            <hr />
        </div>
    </div>
    <div class="dataTables_wrapper form-inline" role="grid" >
        <div class="tabs-vertical-env">

            <ul class="nav tabs-vertical">
                <!-- available classes "right-aligned" -->
                <li><a data-toggle="tab" href="#v-resources-shared-by-me">[tr]Resources Shared By Me[/tr]</a></li>
                <li class="active"><a data-toggle="tab" href="#v-resources-shared-by-others">[tr]Resources Shared By Others[/tr]</a></li>
            </ul>

            <div class="tab-content">
                <div id="v-resources-shared-by-me" class="tab-pane">
                    <form name="sharedresourcesbyme">
                        <div class="dataTables_wrapper form-inline" role="grid">
                            <table class="table table-bordered datatable dataTable">
                                <thead>
                                    <tr role="row">
                                        <td role="columnheader" style="width:31px;" class="sorting_disabled"></td>
                                        <td  role="columnheader">
                                            [tr]Name[/tr]
                                        </td>
                                        <td role="columnheader" >
                                            [tr]Share Options[/tr]
                                        </td>
                                        <td role="columnheader" >
                                            [tr]Recipients[/tr]
                                        </td>
                                    </tr>
                                </thead>
                                <tbody role="alert">
                                    <tr ng-class-odd="'odd'" ng-class-even="'even'" ng-class="{'highlight':entry.Checked}" ng-repeat="entry in ResourcesSharedByMe.Files | filter:searchPhrase | orderBy:'FullPath'" style="cursor:pointer;">
                                        <td>
                                            <input type="checkbox" id="chk-1" ng-model="entry.Checked">
                                        </td>
                                        <td>
                                            <a href="#" ng-click="GoToFolderFromSharedResource(entry)">{{entry.FullPath}}</a><br />
                                            <span ng-if="entry.IsPublic&&!entry.IsDirectory">[tr]Public Access Path[/tr]<br />{{GetCurrentHostname()}}/filemanager/file/{{GetCurrentUserId()}}/{{entry.ID}}</span>
                                            <span ng-if="entry.IsPublic&&entry.IsDirectory">[tr]Public Access Path[/tr]<br />{{GetCurrentHostname()}}/filemanager/directory/{{GetCurrentUserId()}}/{{entry.ID}}</span>
                                        </td>
                                        <td>
                                            <span ng-if="entry.IsRead">[tr]Read[/tr], </span><span ng-if="entry.IsWrite">[tr]Write[/tr], </span><span ng-if="entry.IsAll">[tr]Full Access[/tr], </span><span ng-if="entry.IsPublic"><b>[tr]Public resource[/tr], </b></span>
                                        </td>
                                        <td>
                                            <span ng-repeat="recipient in entry.Recipients | limitTo:5" style="margin:5px; position:relative;"><img width="20" class="img-circle" alt="" ng-src="/panel/contacts/contactthumbnail/{{recipient.RecipientID.EscapeUserId()}}/20/sqr/1" style="margin-right:5px;" />{{recipient.RecipientID | userDisplayName:ShareOptions.Contacts}}</span>
                                            <span ng-if="entry.Recipients.length>5" style="margin:5px; position:relative;">and {{entry.Recipients.length-5}} more...</span>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </form>
                </div>
                <div id="v-resources-shared-by-others" class="tab-pane active">
                    <form name="sharedresourcesbyothers">
                        <div class="dataTables_wrapper form-inline" role="grid">
                            <table class="table table-bordered datatable dataTable">
                                <thead>
                                    <tr role="row">
                                        <td role="columnheader">
                                            [tr]Name[/tr]
                                        </td>
                                        <td role="columnheader" style="width:250px;">
                                            [tr]Shared By[/tr]
                                        </td>
                                    </tr>
                                </thead>
                                <tbody role="alert">
                                    <tr ng-class-odd="'odd'" ng-class-even="'even'" ng-class="{'highlight':entry.Checked}" ng-repeat="entry in ResourcesSharedByOthers.Files | filter:searchPhrase | orderBy:'OwnerID'" style="cursor:pointer;">
                                        <td>
                                            <a href="#" ng-click="GoToForeignResource(entry)">{{entry.Name}}</a><br />
                                        </td>
                                        <td>
                                            <span style="position:relative;"><img width="20" class="img-circle" alt="" ng-src="/panel/contacts/contactthumbnail/{{entry.OwnerID.EscapeUserId()}}/20/sqr/1" style="margin-right:5px;" />{{entry.OwnerID | userDisplayName:ShareOptions.Contacts}}</span>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </form>
                </div>

            </div>

        </div>
    </div>

</section>

@section modalwindows{
    <form id="newdirectoryform" name="newdirectoryform">
        <div class="modal fade" id="newdirectorydialog">
            <div class="modal-dialog">
                <div class="modal-content">

                    <div class="modal-header">
                        <button aria-hidden="true" data-dismiss="modal" class="close" type="button">×</button>
                        <h4 class="modal-title">[tr]Create New Directory[/tr]</h4>
                    </div>

                    <div class="modal-body">

                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="control-label" for="new-directory-dir-name">[tr]Directory Name[/tr]</label>
                                    <input name="dirname" type="text" id="new-directory-dir-name" class="form-control" ng-model="newDirectoryName" required>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="modal-footer">
                        <button data-dismiss="modal" class="btn btn-default" type="button">[tr]Close[/tr]</button>
                        <button data-dismiss="modal" class="btn btn-info" type="button" ng-disabled="newdirectoryform.dirname.$error.required" ng-click="createNewDirectory()">[tr]Create[/tr]</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <div class="modal fade" id="shareOptionsDialog">
        <div class="modal-dialog" style="width: 75%;">
            <div class="modal-content">

                <div class="modal-header">
                    <button aria-hidden="true" data-dismiss="modal" class="close" type="button">×</button>
                    <h4 class="modal-title">[tr]Set Share Options[/tr]</h4>
                </div>

                <div class="modal-body">
                    <form class="form-horizontal form-groups-bordered" role="form">
                        <div class="form-group">
                            <label class="col-sm-2 control-label">[tr]Selected Items[/tr]</label>
                            <div class="col-sm-10">
                                <div style="margin:5px; float:left;" ng-repeat="item in ShareOptions.SelectedFiles">{{item.Name}}</div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="form-input-group" style="height:30px;">
                                <label class="col-sm-2 control-label">[tr]Selected Users[/tr]</label>
                                <div class="col-sm-10">
                                    <ui-select multiple ng-model="ShareOptions.SelectedContacts" theme="bootstrap">
                                        <ui-select-match placeholder="[tr]Select contact...[/tr]"><img width="20" class="img-circle" alt="" ng-src="/panel/contacts/contactthumbnail/{{$item.Username}}/20/sqr" style="float:left; margin-right:5px;" /><span style="line-height:20px;"> <b>{{$item.Name}}</b> ({{$item.Username}})</span></ui-select-match>
                                        <ui-select-choices repeat="person in ShareOptions.Contacts | filterAcceptedContacts | propsFilter: {Name: $select.search, Username: $select.search} | orderBy:'Name'">
                                            <div style="padding:5px;">
                                                <div style="width:35px; float:left;">
                                                    <img width="35" class="img-circle" alt="" ng-src="/panel/contacts/contactthumbnail/{{person.Username}}/35/sqr" />
                                                </div>
                                                <div style="margin-left:50px;">
                                                    <div ng-bind-html="person.Name | highlight: $select.search"></div>
                                                    <small>
                                                        {{person.Username}}
                                                    </small>
                                                </div>
                                            </div>
                                        </ui-select-choices>
                                    </ui-select>
                                </div>
                            </div>
                            <div class="form-input-group">
                                <label class="col-sm-2 control-label"></label>
                                <div class="col-sm-10">
                                    <input ng-model="ShareOptions.Options.IsPublic" type="checkbox" class="icheck" id="share-make-item-public-checkbox">
                                    <label class="" for="share-make-item-public-checkbox">[tr]Make selected items public[/tr]</label>
                                </div>
                            </div>

                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">[tr]Access Options[/tr]</label>
                            <div class="col-sm-10" style="padding-top:5px;">
                                <input ng-model="ShareOptions.Options.Read" type="checkbox" class="icheck" id="share-access-read-checkbox">
                                <label class="" for="share-access-read-checkbox">[tr]Read Access[/tr]</label>
                                <input ng-model="ShareOptions.Options.Write" type="checkbox" class="icheck" id="share-access-write-checkbox">
                                <label class="" for="share-access-write-checkbox">[tr]Write Access[/tr]</label>
                                <input ng-model="ShareOptions.Options.All" type="checkbox" class="icheck" id="share-access-all-checkbox">
                                <label class="" for="share-access-all-checkbox">[tr]Full Control[/tr]</label>
                            </div>
                        </div>
                    </form>
                </div>

                <div class="modal-footer">
                    <button data-dismiss="modal" class="btn btn-default" type="button">[tr]Close[/tr]</button>
                    <button ng-click="SetShareOptions()" class="btn btn-info" type="button">[tr]Create[/tr]</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="filesreadytodownloaddialog">
        <div class="modal-dialog">
            <div class="modal-content">

                <div class="modal-header">
                    <button aria-hidden="true" data-dismiss="modal" class="close" type="button">×</button>
                    <h4 class="modal-title">[tr]Files ready to download[/tr]</h4>
                </div>

                <div class="modal-body">
                    [tr]Files are ready to download.[/tr]<a id="zipdownloadbutton">[tr]click download button to proceed[/tr]</a>
                </div>

                <div class="modal-footer">
                    <button data-dismiss="modal" class="btn btn-default" type="button">[tr]Close[/tr]</button>
                </div>
            </div>
        </div>
    </div>
}
@section scripts{
    <script src="/Scripts/plupload/plupload.full.min.js"></script>
    <script src="~/Scripts/plupload/jquery.plupload.queue/jquery.plupload.queue.min.js"></script>
    <script src="~/Areas/filemanager/app/controllers/fileManagerController.js"></script>

}

