
@{
    ViewBag.Title = "sharedResources";
    Layout = "~/Views/Shared/_panel_layout.cshtml";
}

@section mainappjsfile{
    <link href="~/Scripts/plupload/jquery.plupload.queue/css/jquery.plupload.queue.css" rel="stylesheet" />
    <link href="~/Areas/filemanager/Content/css/filemanager.css" rel="stylesheet" />
    <script src="~/Areas/panel/app/modules/diapp.module.js"></script>
}


@section bodyngcontroller{
    ng-controller="diapp.filemanager.UserSharedResourcesController as usrctrl"
}

<div class="profile-env">
    <header class="row">

        <div class="col-sm-2">

            <div class="profile-picture">
                <img id="chatUserProfileImage" class="img-responsive img-circle" ng-src="/panel/contacts/contactthumbnail/{{usrctrl.userId.EscapeUserId()}}/60/sqr/1">
            </div>

        </div>

        <div class="col-sm-7">

            <ul class="profile-info-sections">
                <li>
                    <div class="profile-name">
                        <strong>
                            <a href="#">[tr]User Shared Resources[/tr]</a>
                        </strong>
                    </div>
                </li>
            </ul>

        </div>

    </header>

    <section id="profileInfoTabs" class="profile-info-tabs">
        <div class="row">
            <div class="col-sm-offset-2 col-sm-7">
            </div>
            <div class="col-md-3" style="height:35px !important;">
                <form class="search-form-full" role="form" method="get">
                    <div class="form-group">
                        <input type="text" placeholder="[tr]Search...[/tr]" id="search-input" name="s" class="form-control" ng-model="usrctrl.searchPhrase">
                        <i class="entypo-search"></i>
                    </div>
                </form>
            </div>
        </div>

    </section>
    
</div>
<section>
    <div class="row">
        <div class="col-md-12" ng-if="usrctrl.isDetailsDisplayed == true">
            <button class="btn btn-default btn-icon icon-left" type="button" ng-click="usrctrl.ReturnToList()">
                [tr]Back to List[/tr]
                <i class="entypo-back"></i>
            </button>
            <hr />
        </div>
    </div>

    <div role="grid" ng-if="usrctrl.isDetailsDisplayed == false">
        <form name="sharedresourcesbyothers">
            <div class="dataTables_wrapper form-inline" role="grid">
                <table class="table table-hover">
                    <thead>
                        <tr role="row">
                            <td role="columnheader">
                                [tr]Name[/tr]
                            </td>

                            <td style="width:130px;"></td>
                        </tr>
                    </thead>
                    <tbody role="alert">
                        <tr ng-class-odd="'odd'" ng-class-even="'even'" ng-class="{'highlight':entry.Checked}" ng-repeat="entry in usrctrl.foreignResources | filter:usrctrl.searchPhrase | orderBy:'Name'" style="cursor:pointer;" ng-mouseenter="entry.mouseOver=true" ng-mouseleave="entry.mouseOver=false">
                            <td>
                                <a href="#" ng-click="usrctrl.ItemClicked(entry)">{{entry.Name}}</a><br />
                            </td>

                            <td>
                                <a class="btn btn-red btn-icon btn-xs" ng-click="usrctrl.DeleteSharedResource(entry)" ng-if="entry.mouseOver == true">
                                    [tr]Delete[/tr]
                                    <i class="entypo-cancel"></i>
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </form>
    </div>
    <div ng-if="usrctrl.isDetailsDisplayed == true">
        <di-foreign-resources-browser user-id="usrctrl.selectedResource.userId" resource-id="usrctrl.selectedResource.resourceId" search-phrase="usrctrl.searchPhrase" resource-name="usrctrl.selectedResource.resourceName"></di-foreign-resources-browser>
    </div>
</section>

 @section scripts{
     @System.Web.Optimization.Scripts.Render("~/bundles/filemanagerusersharedresources")
     <script type="text/javascript">
         $(function () {
             var evt = $.Event('initsharedresources');
             evt.UserID = "@ViewBag.UserID";
             $(window).trigger(evt);
         });
     </script>
 }


