<section >
    <nav role="navigation" class="navbar navbar-default">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button data-target="#bs-example-navbar-collapse-2" data-toggle="collapse" class="navbar-toggle" type="button">
                <span class="sr-only">[tr]Toggle navigation[/tr]</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="#" class="navbar-brand">{{fr.resourceName}}</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div id="bs-example-navbar-collapse-2" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                
            </ul>

            <ul class="nav navbar-nav navbar-right">
                <li class="navbar-form">
                    <div data-toggle="buttons" class="btn-group">
                        <label class="btn btn-white" ng-click="fr.changeMode('listMode')" ng-class="{'active':fr.viewModeSelected=='listMode'}">
                            <input type="radio" ng-checked="fr.viewModeSelected=='listMode'" id="listmodeRadioButton" name="viewMode"><i class="glyphicon glyphicon-list"></i>
                        </label>
                        <label class="btn btn-white" ng-click="fr.changeMode('iconMode')" ng-class="{'active':fr.viewModeSelected=='iconMode'}">
                            <input type="radio" ng-checked="fr.viewModeSelected=='iconMode'" id="iconviewRadioButton" name="viewMode"><i class="glyphicon glyphicon-th"></i>
                        </label>

                    </div>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </nav>

    <!--uploader-->
    <div class="row" ng-if="fr.UserPermissions.Write == true || fr.UserPermissions.All == true">
        <div class="col-md-12">

            <div id="uploadContainer" data-collapsed="0" class="panel panel-invert panel-collapse">

                <!-- panel head -->
                <div class="panel-heading">
                    <div class="panel-title">[tr]Upload Files[/tr]</div>

                    <div class="panel-options">
                        <a data-rel="collapse" href="#"><i class="entypo-down-open"></i></a>
                    </div>
                </div>

                <!-- panel body -->
                <div class="panel-body" style="display: none;">

                    <pl-upload-component file-upload-url="fr.uploader.fileUploadUrl" max-file-size="fr.uploader.maxUpoadUrl" chunk-size="fr.uploader.chunkSize" flash-swf-url="fr.uploader.flashSwfUrl" silverlight-xap-url="fr.uploader.silverlightXapUrl" on-file-uploaded="fr.fileUploaded(file)" on-upload-completed="fr.fileUploadCompleted(files)"></pl-upload-component>

                </div>

            </div>

        </div>
    </div>

    <!--breadcrumbs-->
    <ol class="breadcrumb">
        <li>
            <a href="#" ng-click="fr.upDirectory()">
                <i class="entypo-back"></i>
            </a>
        </li>
        <li>
            <a href="#" ng-click="fr.changeDirectory(0)">
                <i class="entypo-folder"></i>
            </a>
        </li>
        <li ng-repeat="breadCrumb in fr.breadCrumbs()">
            <a href="#" ng-click="fr.changeDirectory($index+1)" ng-if="!$last">
                <i ng-class="{'active':$last}"></i>
                {{breadCrumb}}
            </a>
            <span ng-if="$last">{{breadCrumb}}</span>
        </li>
        
        <div style="float:right;">[tr]Total files[/tr]: {{fr.directorySummary.TotalNumFiles}},  [tr]Total Size[/tr]: {{fr.directorySummary.TotalSize | bytes}}</div>
    </ol>

    <!--filelist icon view-->
    <div id="diForeignResourcesBrowserfilesListIconMode" class="gallery-env" ng-if="fr.viewModeSelected=='iconMode' && fr.viewMode=='list'">
        <div class="row">
            <div class="col-sm-2" ng-repeat="entry in fr.filteredDirectoryData" ng-mouseenter="fr.hover(entry)" ng-mouseleave="fr.hover(entry)">
                <article class="album">
                    <header>
                        <a ng-click="fr.itemClicked(entry)" style="cursor:pointer;" ng-if="fr.entry.IsDirectory">
                            <img ng-src="{{fr.UserDataIsland.DataislandUrl}}filemanager/foreignresources/thumbnail/{{fr.userId.EscapeUserId()}}/{{fr.resourceId.EscapeUserId()}}/400{{fr.directory}}/{{entry.Name}}" />
                        </a>
                        <a style="cursor:pointer;" ng-if="!entry.IsDirectory" ng-click="fr.SwitchToDetailsView($index)">
                            <img id="diForeignResourcesBrowsericonFilePreview" ng-src="{{fr.UserDataIsland.DataislandUrl}}filemanager/foreignresources/thumbnail/{{fr.userId.EscapeUserId()}}/{{fr.resourceId.EscapeUserId()}}/400{{fr.directory}}/{{entry.Name}}" />
                        </a>
                        <div ng-if="entry.IsShared" style="position:absolute;top:3px;left:3px; border-radius: 50%; background:#ffffff; box-shadow: 0 0 0 2px #f5f5f6;" class="entypo-share"></div>
                        <a class="album-options" href="#" ng-if="!entry.IsDirectory" ng-href="{{fr.UserDataIsland.DataislandUrl}}filemanager/foreignresources/get/{{fr.resourceId.EscapeUserId()}}/{{fr.userId.EscapeUserId()}}/{{entry.FullName}}">
                            <i class="entypo-download"></i>
                            [tr]Download[/tr]
                        </a>
                    </header>

                    <section class="album-info" style="height:30px; overflow:hidden;">
                        {{entry.Name}}
                    </section>
                    <footer>
                        <div class="album-images-count" style="height:30px; overflow:hidden;">
                            {{entry.Size | bytes}}
                        </div>

                        <div class="album-options" ng-if="fr.UserPermissions.Write == true || fr.UserPermissions.All == true">
                            <input type="checkbox" id="diForeignResourcesBrowserchk-1" ng-model="entry.Checked">
                        </div>
                    </footer>
                </article>
            </div>
        </div>
    </div>

    <!--filelist listview-->
    <form name="fileslist">
        <div class="dataTables_wrapper form-inline" role="grid" ng-if="fr.viewModeSelected=='listMode' && fr.viewMode=='list'">
            <table class="table table-hover">
                <thead>
                    <tr role="row">
                        <td role="columnheader" style="width:31px;" class="sorting_disabled"></td>
                        <td role="columnheader" style="width:30px;" class="sorting"></td>
                        <td ng-click="fr.changeSortOrder('Name')" role="columnheader" ng-class="{'sorting_asc':fr.sortField=='Name'&&!sortIsDescending,'sorting_desc':fr.sortField=='Name'&&sortIsDescending}">
                            [tr]Name[/tr]
                        </td>
                        <td ng-click="fr.changeSortOrder('Size')" role="columnheader" style="width:100px;" ng-class="{'sorting_asc':fr.sortField=='Size'&&!fr.sortIsDescending,'sorting_desc':fr.sortField=='Size'&&fr.sortIsDescending}">
                            [tr]Size[/tr]
                        </td>
                    </tr>
                </thead>
                <tbody role="alert">
                    <tr ng-class-odd="'odd'" ng-class-even="'even'" ng-class="{'highlight':entry.Checked}" ng-repeat="entry in fr.filteredDirectoryData" style="cursor:pointer;">
                        <td>
                            <input ng-if="fr.UserPermissions.Write == true || fr.UserPermissions.All == true" type="checkbox" id="chk-1" ng-model="entry.Checked">
                        </td>
                        <td ng-click="fr.itemClicked(entry)" ng-if="entry.IsDirectory">
                            <div style="position:relative;">
                                <img ng-src="{{fr.UserDataIsland.DataislandUrl}}filemanager/foreignresources/thumbnail/{{fr.userId.EscapeUserId()}}/{{fr.resourceId.EscapeUserId()}}/30{{fr.directory}}/{{entry.Name}}" style="width:30px; height:30px;" />
                                <div ng-if="entry.IsShared" style="position:absolute;top:-5px;left:-5px; border-radius: 50%; background:#ffffff; box-shadow: 0 0 0 2px #f5f5f6;" class="entypo-share"></div>
                            </div>
                        </td>
                        <td ng-if="entry.IsDirectory" ng-mouseenter="fr.hover(entry,true)" ng-mouseleave="fr.hover(entry,false)">
                            <div style="display:inline-block; height:29px; line-height:29px;" ng-if="!entry.isInRenameMode" ng-click="itemClicked(entry)">{{entry.Name}}</div>
                            <div style="display:inline-block; height:29px; line-height:29px;" ng-if="entry.isInRenameMode"><input type="text" ng-model="entry.NewName"></div>
                            
                        </td>
                        <td ng-if="!entry.IsDirectory" ng-mouseenter="fr.hover(entry,true)" ng-mouseleave="fr.hover(entry,false)">
                            <div style="position:relative;">
                                <a ng-click="fr.SwitchToDetailsView($index)">
                                    <img id="diForeignResourcesBrowserlistFilePreview{{$index}}" ng-src="{{fr.UserDataIsland.DataislandUrl}}filemanager/foreignresources/thumbnail/{{fr.userId.EscapeUserId()}}/{{fr.resourceId.EscapeUserId()}}/30{{fr.directory}}/{{entry.Name}}" style="width:30px; height:30px; border:0 none transparent;" />
                                </a>
                                <div ng-if="entry.IsShared" style="position:absolute;top:-5px;left:-5px; border-radius: 50%; background:#ffffff; box-shadow: 0 0 0 2px #f5f5f6;" class="entypo-share"></div>
                            </div>
                        </td>
                        <td ng-if="!entry.IsDirectory" ng-mouseenter="fr.hover(entry,true)" ng-mouseleave="fr.hover(entry,false)">
                            <div style="display:inline-block; height:29px; line-height:29px;" ng-if="!entry.isInRenameMode"><a ng-click="fr.SwitchToDetailsView($index)">{{entry.Name}}</a></div>
                            <div style="display:inline-block; height:29px; line-height:29px;" ng-if="entry.isInRenameMode"><input type="text" ng-model="entry.NewName"></div>
                            <div style="float:right" >
                                <a class="btn btn-green btn-icon" ng-if="entry.isMouseOver" ng-href="{{fr.UserDataIsland.DataislandUrl}}filemanager/foreignresources/get/{{fr.resourceId.EscapeUserId()}}/{{fr.userId.EscapeUserId()}}/{{entry.FullName}}">
                                    [tr]Download[/tr]
                                    <i class="entypo-download"></i>
                                </a>
                            </div>
                        </td>
                        <td class="">{{entry.Size | bytes}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </form>

    <!--Details view-->
    <form name="detailsform">
        <div class="row" id="diForeignResourcesBrowserdetailsViewContainer" ng-if="fr.viewMode=='details'" ng-class="{'details-view-fixed':fr.detailsView.isDetailsViewExpanded}">
            <div class="col-sm-12" id="diForeignResourcesBrowserdetailsViewMenu">
                <nav role="navigation" class="navbar navbar-default">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header">
                        <button data-target="#bs-example-navbar-collapse-1" data-toggle="collapse" class="navbar-toggle" type="button">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand">{{fr.SelectedFileIndex+1}} [tr]of[/tr] {{fr.filteredDirectoryData.length}}</a>
                    </div>

                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div id="diForeignResourcesBrowserbs-example-navbar-collapse-1" class="collapse navbar-collapse">
                        <ul class="nav navbar-nav">
                            <li ng-if="fr.SelectedFileIndex>0">
                                <a href="#" ng-click="fr.MovePreviousItemIndex()"><i class="entypo-left-open-big"></i>[tr]Previous[/tr]</a>
                            </li>
                        </ul>

                        <ul class="nav navbar-nav navbar-right">
                            <li class="dropdown">
                                <a data-toggle="dropdown" class="dropdown-toggle" href="#">[tr]Actions[/tr]<b class="caret"></b></a>
                                <ul class="dropdown-menu">
                                    <li ng-if="!filteredDirectoryData[SelectedFileIndex].IsDirectory">
                                        <a ng-href="{{fr.UserDataIsland.DataislandUrl}}filemanager/foreignresources/get/{{fr.resourceId.EscapeUserId()}}/{{fr.userId.EscapeUserId()}}/{{fr.filteredDirectoryData[fr.SelectedFileIndex].FullName}}"><i class="entypo-download" style="margin-right:5px;"></i>[tr]Download[/tr]</a>
                                    </li>
                                </ul>
                            </li>

                            <li ng-if="fr.SelectedFileIndex<fr.filteredDirectoryData.length-1">
                                <a href="#" ng-click="fr.MoveNextItemIndex()"><i class="entypo-right-open-big"></i>[tr]Next[/tr]</a>
                            </li>
                            <li>
                                <a href="#" ng-click="fr.toggleDetailsViewExpandedMode()">
                                    <span ng-if="!fr.detailsView.isDetailsViewExpanded"><i class="fa fa-expand" style="margin-right:5px;"></i>[tr]Expand[/tr]</span>
                                    <span ng-if="fr.detailsView.isDetailsViewExpanded"><i class="fa fa-compress" style="margin-right:5px;"></i>[tr]Shrink[/tr]</span>
                                </a>
                            </li>
                            <li>
                                <a href="#" ng-click="fr.SwitchToListView()"><i class="entypo-cancel"></i>[tr]Close[/tr]</a>
                            </li>
                        </ul>
                    </div>
                    <!-- /.navbar-collapse -->
                </nav>
            </div>
            <div class="col-sm-12" style="text-align:center;">
                <h2 id="diForeignResourcesBrowserdetailsViewFileName"><small>{{fr.filteredDirectoryData[fr.SelectedFileIndex].Name}}</small></h2>
                <div class="details-view-image-container">
                    <img src="/Content/panel/images/loader-1.gif" class="fade" id="diForeignResourcesBrowserimageloader" style="margin: auto; position: absolute; left: 50%; top: 50%;" />
                    <img ng-if="!fr.detailsView.isDetailsViewExpanded" id="diForeignResourcesBrowserdetailsImagePreview" img-preload img-loader="imageloader" style="margin:auto; max-width:100%;" class="fade" ng-src="{{fr.UserDataIsland.DataislandUrl}}filemanager/foreignresources/preview/{{fr.userId.EscapeUserId()}}/{{fr.resourceId.EscapeUserId()}}/1000{{fr.directory}}/{{fr.filteredDirectoryData[fr.SelectedFileIndex].Name}}" />
                    <img ng-if="fr.detailsView.isDetailsViewExpanded" id="diForeignResourcesBrowserdetailsImagePreviewExpanded" img-preload img-loader="imageloader" style="margin:auto; max-width:100%;" class="fade" ng-src="{{fr.UserDataIsland.DataislandUrl}}filemanager/foreignresources/previewcustomsize/{{fr.userId.EscapeUserId()}}/{{fr.resourceId.EscapeUserId()}}/{{fr.detailsView.imageContainerWidth}}/{{fr.detailsView.imageContainerHeight}}{{fr.directory}}/{{fr.filteredDirectoryData[fr.SelectedFileIndex].Name}}" />
                </div>
                <h3 id="diForeignResourcesBrowserdetailsViewFileDescription"><small>[tr]Size[/tr]: {{fr.filteredDirectoryData[fr.SelectedFileIndex].Size | bytes}}, [tr]Modified[/tr]: {{fr.filteredDirectoryData[fr.SelectedFileIndex].FileSystemObject.LastWriteTime | date:'medium'}}</small></h3>
            </div>
        </div>
    </form>

</section>
