
<div>
    <div style="margin:10px;">
        <form class="search-form-full" role="form" name="searchForm">
            <input type="text" placeholder="Search..." id="search-input" name="s" class="form-control" ng-model="Contacts.SearchPhrase">
        </form>
    </div>
    <table class="table table-hover">
        <thead>
            <tr>
                <th style="width:10px;"></th>
                <th style="width:50px;"></th>
                <th>[tr]Username[/tr]</th>
            </tr>
        </thead>

        <tbody>
            <tr ng-repeat="user in Contacts.Contacts | filter:Contacts.SearchPhrase | filterSelectContacts" ng-mouseenter="user.MouseOver = true" ng-mouseleave="user.MouseOver = false">
                <td><input type="checkbox" style="margin-top:15px;" ng-model="user.Selected" /></td>
                <td><img width="44" class="img-circle" alt="" ng-src="/panel/contacts/contactthumbnail/{{user.Username}}/44/sqr" src="~/Content/panel/images/thumb-1@2x.png"></td>
                <td style="line-height:44px;">
                    <h4 style="margin-top:12px !important;">
                        {{user.Name}}
                        <small>({{user.Username}})</small>
                    </h4>
                </td>
            </tr>
        </tbody>
    </table>
</div>