@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>RefreshImage</title>
    <img src="@ViewBag.ImageUrl" />
</head>
<body>
    <div>
    </div>
</body>
</html>
